body {
    background: transparent;
}
.odomeetteri {
    color: white;
}
#pfpembed {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    margin-top: 0 !important;
    height: 100px !important;
    width: 100px !important;
    border: solid 0px red;
    border-radius: 50%;
    z-index: 20;
}
#ChanName {
    color: white;
}